/* RESET */
*, ::before, ::after{
    box-sizing: border-box;
     margin: 0;
     padding: 0;
  }
  
  body{
      font-family: Arial, Helvetica, sans-serif;
      background-color: #CDCDCD;
  }
  /* STYLE POUR LE TITRE  */
  h1{
      font-size:35px;
      color: #f1f1f1 ;
      text-align: center;
      margin: 40px 0px 50px 0px;
      color:black;
  }
  /* STYLE POUR LE FORMULAIRE ET LA DIV RESULTAT */
  form, .resultat{
      margin: 0 auto;
      width: 50%;
      max-width: 800px;
      min-width: 400px;
  }
  
  /* STYLE POUR LE CHAMP INPUT */
  input{
      display: block;
      width: 100%;
      margin: 0 auto;
      padding: 15px;
      font-size: 20px;
  
  }

  /* STYLE DE LA DIV CONTENANT LE RESULTAT */
  .resultat{
      display: flex;
      justify-content: center;
  }

  /* STYLE DE LA CARD OU ON AFFICHE LE RESULTAT */
  .carte {
      width: 500px;
      height: auto;
      position: relative;
      margin-top: 100px;
      padding-bottom: 20px;
      border-radius: 5px;
      background: #f1f1f1;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }

    /* STYLE DE L'AVATAR GITHUB */
    .avatar {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #000;
      border: 1px solid #31011f
    }

    /* STYLE POUR LE LOGIN */
    h2{
      margin-top: 100px;
      text-align: center;
      font-size: 25px
    }
    /* UL REGROUPANT TOUTES LES AUTRES INFO DE L'UTILISATEUR  */
    .cont-infos {
      border-top: 1px dashed #31011f;
      margin-top: 20px;
      list-style-type: none;
    }

    /* STYLE POUR LES FOLLOW, REPOS, BIO */
    li {
      padding: 10px 20px;
      text-align: justify;
       font-size: 22px;
    }

    /* STYLE POUR LE 1ER ELEMENT DU LI QUI EST followers*/
    li:nth-child(1){
      margin-top: 15px;
    }

    /* STYLE POUR LE MESSAGE ERREUR  */
    .erreur{
      margin-top:15px;
      font-size:25px;
      color:red;
      font-weight: bolder;
    }